# .env.example
POSTGRES_PORT=5433
REDIS_PORT=6380
API_PORT=8080
POSTGRES_DB=incident_manager
POSTGRES_USER=im_user
POSTGRES_PASSWORD=
REDIS_PASSWORD=
JWT_SECRET_KEY=
JWT_ISSUER=incident-manager
JWT_AUDIENCE=incident-manager-clients
PROMETHEUS_WEBHOOK_SECRET=
GITEA_WEBHOOK_SECRET=
TRAEFIK_NETWORK=traefik_proxy
DOMAIN_API=
REGISTRY_URL=
REGISTRY_USER=